.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80%;
}

.column {
    width: 30rem;
    border-right: 1px solid #dcdcde;
}

.column:last-child {
    border-right: none;
}

.title {
    text-align: center;
    color: #9C27B0;
}

@media all and (max-width: 1430px) {
    .column {
        border-right: none;
    }
}